{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>change-password</title>
{% endblock %}

{% block body %}
    <center>
        <h1 style="margin-top: 2.5rem !important; color: #171a1d; background: none; border: none; font-size:3rem; font-weight: 500;">
            Смена пароля
        </h1>

        <hr style="width: 18rem;">


    
    <div class="mb-3" style="width:35rem; margin: 12rem auto !important;">
            <div class="container mt-5">
                <h2>Пароль успешно изменён</h2>
                <p>Теперь вы можете использовать новый пароль для входа.</p>
                <a href="{% url 'index' %}" class="data-change" style=" text-decoration: none;">Вернуться на главную</a>
            </div>
    </div>
    </center>

{% endblock %}
