{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>home</title>
{% endblock %}

    
{% block body %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            
            <img src="{% static 'media/logo.svg' %}" class="img-fluid" alt="logo" name="logo">
            
            <hr name="index-hr" style="width: 21vw;">

            <p name="index-description">The uHealth web application offers a unique solution for taking care of your health. It combines the power of artificial intelligence with the convenience of scheduling appointments with qualified doctors. With uHealth, you can receive a preliminary consultation from the built-in AI assistant, which, based on the symptoms you describe, provides recommendations and possible diagnostic options. This is a convenient and quick way to assess your condition and determine whether you need to see a specialist.</p>
            
            <p></p>
        </div>
    </div>
    
    <div class="container text-center mt-3">
        <a class="btn btn-secondary px-4 py-2 text-uppercase" href="{% url 'diagnosise:ai_consultation' %}">AI Consultation</a>
    </div>
{% endblock %}