{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>home</title>
{% endblock %}

    
{% block body %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            
            <img src="{% static 'media/logo.svg' %}" class="img-fluid" alt="logo" name="logo">
            
            <hr name="index-hr">

            <p name="index-description">Веб-приложение uHealth предлагает уникальное решение для заботы о вашем здоровье. Оно сочетает в себе мощь искусственного интеллекта и удобство записи на прием к квалифицированным врачам. С помощью uHealth вы можете получить предварительную консультацию от встроенного ИИ-ассистента, который на основе описанных вами симптомов предоставит рекомендации и возможные варианты диагностики. Это удобный и быстрый способ оценить свое состояние и понять, стоит ли обращаться к специалисту.</p>
            
            <p></p>
        </div>
    </div>
    
    <div class="container text-center mt-3">
        <a class="btn btn-secondary px-4 py-2 text-uppercase" href="{% url 'diagnosise:ai_consultation' %}">Консультация с ИИ</button>
    </div>
{% endblock %}