body {
    background-color: #ebebeb;
}

.navbar.navbar-expand-lg.bg-light {


    margin-top: 1rem !important;
    margin-left: auto !important;
    margin-right: auto !important;

    padding-inline: 0.9rem;
    
    width: 70% !important;
    height: 4rem;
    
    border-radius: 20px;
    
    background-color: #d8d8d8 !important;

    /* display: flex; */
    align-items: center; /* Центрирование по вертикали */
}

.nav-link {
    position: absolute;
}

.nav-link[name="1"] {
    z-index: 5;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: auto !important;
    margin-right: auto !important;

    left: 45% !important;
}

@media screen and (max-width: 768px) {
    body {
      left: 30% !important;
    }
    img[name="avatar"] {
        height: 0rem;
        width: 0rem;
    }
}

@media screen and (max-width: 1850px) {
    body {
      left: 30% !important;
    }
    img[name="avatar"] {
        height: 0rem;
        width: 0rem;
    }
  }

.nav-link[name="2"] {
    position: fixed;
    margin-top: -1.1rem;
    margin-left: -11rem;
    width: 10rem;
}

.nav-link[name="3"] {
    position: absolute;
    margin-top: -1.1rem;
    margin-left: -3rem;
    width: 10rem;
}

.nav-item.dropdown {
    /* position: absolute; */
    margin-top: -1.1rem;
    margin-left: -6rem;
    margin-right: -8rem;
    width: 10rem;
}

.dropdown-menu {
    margin-top: 2.3rem !important;
    margin-left: -3rem !important;
}

.navbar-brand {
    width: 15rem;
}

.input-group input {
    background-color: #e8e8e8;
    border: none;
}

.input-group .btn {
    background-color: #e8e8e8;
    border: none;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.img-fluid {
    position: absolute;
    z-index: -1;

    margin-top: -9rem;

    width: 45rem;
    height: 45rem;
}

hr[name="index-hr"] {
    /* position: absolute; */
    z-index: 1;

    margin-top: 26rem;
    width: 20%;
}

p[name="index-description"] {
    position: absolute;
    z-index: 2;

    margin-top: 28rem;
    padding-bottom: 6rem;

    max-width: 35rem;

    text-align: center
}

.btn-secondary.px-4.py-2.text-uppercase {
    position: absolute;
    z-index: 5;

    margin-left: -6.5rem;
    margin-top: 14rem;

    background-color: #babbca;

    border: none;
}

.btn-secondary.px-4.py-2.text-uppercase:hover {
    background-color: #212122;
}

/* REGISTER */
.form-control {
    margin-bottom: 0.2rem;
}

.btn.btn-dark {
    background-color: #2c3338 !important;
    border: none !important;
}

.btn.btn-dark:hover {
    background-color: #babbca !important; 
    border: none !important;
}

/* PROFILE */

a.data-change, button.data-change {
    color: #808080;
    text-decoration: none;
}

a.data-change:hover, button.data-change:hover {
    color: #1d2225;
}

img[name="avatar"] {
    z-index: -1;

    margin: 2.3rem 24rem !important;

    max-width: 15rem;
    max-height: 15rem;

    background-color: #d8d8d8;
    border-radius: 30px;
}


.table.table-light.table-rounded {
    border-radius: 5px;
    overflow: hidden;
    

    max-width: 60vw !important;
    margin-left: -15vw !important;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.096);
}

td, th {
    padding-inline: 1.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}


/* RESULTS */
.parsed-container {
    height: min-content;
    width: 33.33%;

    border-radius: 15px;

    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.253);
}

.ai-answer-text {
    height: min-content;
    max-width: 33.33%;


    /* background-color: #ffffff; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    max-width: max-content; 
    max-height: min-content;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}

.answer-header {
    display: flex; 
    justify-content: center; 

    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* APPOINTMENT */
#id_comment {
    height: 15vh;
    width: 60%;
}

img[name="doctor"] {
    position: absolute;
    z-index: -1;

    max-width: 80vh;
    max-height: 80vw;

    margin: 3.4vh 55vw;
}

/* EMAIL CONFIRMED */
a[name='home'] {

    font-size:larger;

    color: #212122;
    text-decoration: none;
}

a[name='home']:hover {
    color:#808080
}